@model ChatRoom.Contracts.Auth.SignupViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form asp-action="Signup" asp-controller="Auth">

                        <!-- Title -->
                        <h1 class="my-5">Sign Up</h1>

                        <!-- Account -->
                        <div class="form-outline mb-4">
                            <label asp-for="Account" class="form-label"></label>
                            <input asp-for="Account" class="form-control form-control-lg" />
                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control form-control-lg" />
                        </div>

                        <!-- Submit button -->
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <partial name="_AlertPartial" />
</body>
</html>