@model ChatRoom.Models.HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="POST" asp-action="ChatRoom">

        <label asp-for="UserName"></label>
        <input asp-for="UserName" />

        <button type="submit" class="btn btn-primary">Join Chat Room</button>
    </form>
</div>
